<div class="modal fade" id="contact-form" tabindex="-1" role="dialog" aria-labelledby="contact-form-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contact-form-label">Contact Us</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%# render "home/contact-form" %>
        <%= render "contacts/new" %>
      </div>
    </div>
  </div>
</div>