<div class="col-lg-6 col-xs-12">
  <div class="gallery-item">
    <div class="overlay">
      <a href="#gallery-<%= gallery.id %>" data-toggle="modal" >
        <p><%= gallery.title %></p>
      </a>
    </div>
    <div class="underlay">
      <a href="#">
        <!-- 600px x 600px -->
        <%= image_tag gallery.cover.fill.url, alt: gallery.title %>
      </a>
    </div>
  </div>
</div>