<div class="col-lg-6 col-xs-12">
  <div class="gallery-item">
    <div class="overlay">
      <a href="#gallery-<%= id %>" data-toggle="modal" >
        <p>Example Work</p>
      </a>
    </div>
    <div class="underlay">
      <a href="#">
        <img src="http://via.placeholder.com/600x600" alt="">
      </a>
    </div>
  </div>
</div>