<aside class="sidebar" id="nav-container">
  <div class="mobile-nav">
    <ul class="nav flex-column" id="nav-list">
      <a href=<%= url_for root_path %>><li>Gallery</li></a>
      <a href=<%= url_for testimonials_path %>><li>Testimonials</li></a>
      <a href=<%= url_for about_us_path %>><li>About</li></a>
      <a href="#contact-form-link" data-toggle="modal" data-target="#contact-form">
        <li>Contact</li>
      </a>
    </ul>
  </div>
</aside>
