<aside class="sidebar b-c-blanchedalmond" id="nav-container">
  <div class="mobile-nav">
    <ul class="nav flex-column" id="nav-list">
      <a href="#"><li>Gallery</li></a>
      <a href="#"><li>Testimonials</li></a>
      <a href="#"><li>About</li></a>
      <a href="#"><li>Contact</li></a>
    </ul>
  </div>
</aside>