<aside class="testimonials d-none d-lg-block">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <blockquote class="testimonial d-block img-fluid">
          <span class="quotes">“</span>
          <div class="testimonial-wrapper">
            <p class="testimonial-text">What a great curtain oh my god I love it thanks curtainly!!!</p>
            <p class="testifier">Jerry Mcgee</p>
          </div>
        </blockquote>
      </div>
      <div class="carousel-item">
        <blockquote class="testimonial d-block img-fluid">
          <span class="quotes">“</span>
          <div class="testimonial-wrapper">
            <p class="testimonial-text">What a great curtain oh my god I love it thanks curtainly!!!</p>
            <p class="testifier">Tina Jimothy</p>
          </div>
        </blockquote>
      </div>
      <div class="carousel-item">
        <blockquote class="testimonial d-block img-fluid">
          <span class="quotes">“</span>
          <div class="testimonial-wrapper">
            <p class="testimonial-text">What a great curtain oh my god I love it thanks curtainly!!!</p>
            <p class="testifier">Gayle Louise</p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</aside>