<aside class="testimonial-carousel d-none d-lg-block">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <% Testimonial.carousel.each.with_index do |t, i| %>
        <div class="carousel-item <%= 'active' if i == 0 %>">
          <blockquote class="testimonial d-block img-fluid">
            <span class="quotes">“</span>
            <div class="testimonial-wrapper">
              <p class="testimonial-text"><%= t.testimonial %></p>
              <div class="testimonial-line"></div>
              <p class="testifier"><%= t.name %></p>
              <p class="testimonial-location"><%= t.location %></p>
            </div>
          </blockquote>
        </div>
      <% end %>
    </div>
  </div>
</aside>