<div class="container b-c-peachpuff">
  <div class="row">
    <div class="col-sm">
      <header class="header-logo">
        <a href="#"><h1>Curtainly</h1></a>
      </header>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <aside class="sidebar">
        <div class="mobile-nav">
          <nav>
            <ul>
              <li><a href="#">Gallery</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </aside>
    </div>
    <div class="col-sm-9">
      <main>
        <section class="gallery-highlights">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <div class="gallery-item"><img src="http://via.placeholder.com/300x300" alt=""></div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="gallery-item"><img src="http://via.placeholder.com/300x300" alt=""></div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="gallery-item"><img src="http://via.placeholder.com/300x300" alt=""></div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="gallery-item"><img src="http://via.placeholder.com/300x300" alt=""></div>
            </div>
          </div>
        </section>
        <div class="row">
          <section class="contact">
            
          </section>
        </div>
      </main>
    </div>
  </div>

  <footer>
    <div class="row">
      <div class="col-sm-8">
        <div class="social-links">
          <a href="#">Instagram</a>
          <a href="#">Facebook</a>
          <p>0777897987</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="designed-by">
          <p></p>
        </div>
      </div>
    </div>
  </footer>
</div>