<div class="container b-c-peachpuff">
  <div class="row">
    <div class="col-sm">
      <header>
        <div class="menu-icons" onclick="showNav()">
          <i id="menu-icon" class="fa fa-bars menu-icon"></i>
          <i id="exit-menu-icon" class="fa fa-times exit-menu-icon"></i>
        </div>
        
        <div class="header-logo">
          <a href="#"><h1>Curtainly</h1></a>
        </div>
      </header>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <aside class="sidebar b-c-blanchedalmond" id="nav-container">
        <div class="mobile-nav">
          <ul class="nav flex-column" id="nav-list">
            <a href="#"><li>Gallery</li></a>
            <a href="#"><li>Testimonials</li></a>
            <a href="#"><li>About</li></a>
            <a href="#"><li>Contact</li></a>
          </ul>
        </div>
      </aside>
    </div>
    <div class="col-sm-9">
      <main>
        <section class="gallery-highlights">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <div class="gallery-item"><img src="http://via.placeholder.com/300x300" alt=""></div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="gallery-item"><img src="http://via.placeholder.com/300x300" alt=""></div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="gallery-item"><img src="http://via.placeholder.com/300x300" alt=""></div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="gallery-item"><img src="http://via.placeholder.com/300x300" alt=""></div>
            </div>
          </div>
        </section>
        <div class="row">
          <section class="contact">
            
          </section>
        </div>
      </main>
    </div>
  </div>

  <footer>
    <div class="row">
      <div class="col-sm-8">
        <div class="social-links">
          <a href="#">Instagram</a>
          <a href="#">Facebook</a>
          <p>0777897987</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="designed-by">
          <p></p>
        </div>
      </div>
    </div>
  </footer>
</div>