<section class="gallery-highlights">
  <div class="row">
    <% Gallery.all.each.with_index do |g, i| %>
      <%= render "home/gallery_item", gallery: g, id: i %>
    <% end %>
  </div>
  <div class="modal-carousels">
    <% Gallery.all.each.with_index do |g, i| %>
      <%= render "home/modal_carousel", gallery: g, id: i %>
    <% end %>
  </div>
</section>
<div class="row text-center">
  <div class="col-12">
    <a href="#contact-form-link" class="btn btn-primary btn-contact-form" data-toggle="modal" data-target="#contact-form">Contact Us!</a>
    <div class="social-links social-contact">
      <a href="#" id="instagram" class="fa fa-instagram social-icon"></a>
      <a href="#" id="facebook" class="fa fa-facebook-official social-icon"></a>
    </div>
  </div>
</div>



