<section class="gallery-highlights">
  <div class="row">
    <% for i in 1..4 %>
      <%= render "home/gallery_item", id: i %>
    <% end %>
  </div>
  <div class="modal-carousels">
    <% for i in 1..4 %>
      <%= render "home/modal_carousel", id: i %>
    <% end %>
  </div>
</section>
<div class="row text-center">
  <div class="col-12">
    <a href="#contact-form-link" class="btn btn-primary btn-contact-form" data-toggle="modal" data-target="#contact-form">Contact Us!</a>
  </div>
</div>



