<section class="testimonial-section">
  <h1 class="header">Testimonials</h1>
  <h3 class="subheader"><%= Subheader.last.testimonials %></h3>
  <div class="row">
    <% Testimonial.published.each do |t| %>
      <div class="col-lg-12">
        <blockquote class="testimonial d-block img-fluid">
          <span class="quotes">“</span>
          <div class="testimonial-wrapper">
            <p class="testimonial-text"><%= t.testimonial %></p>
            <p class="testifier"><%= t.name %></p>
            <p class="testimonial-location"><%= t.location %></p>
          </div>
        </blockquote>
      </div>
    <% end %>
  </div>
</section>