$backdrop: #f4f4f4;
$navbar: #fff;
$hover: #dcd0c0;
$hover-translucent: rgba(220, 208, 192, 0.5);
$text: #373737;
$text-soft: #444;
$highlight: #c0b283;
$bootstrap-border: #e9ecef;
$carousel-indicator: rgba(0, 0, 0, 0.2);
$carousel-indicator-active: rgba(0, 0, 0, 0.5);

body {
  background-color: $backdrop;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: $text;
}

h1.header-logo-text {
  color: $highlight;
}

.subheader {
  color: $text-soft;
}

.menu-icons {
  color: $highlight;
}

.sidebar {
  background-color: $navbar;

  @media (min-width: $screen-lg) {
    background-color: inherit;
  }

  a:hover {
    background-color: $hover-translucent;
    color: $text;
  }

  @media (max-width: $screen-md-max) {
    background-color: $backdrop;
  }

  a.social-icon {
    color: $highlight;
  }

  a.social-icon:hover {
    background-color: inherit;
  }
}

.nav-line {
  border-color: $hover !important;
}

.testimonial {
  background: inherit;

  .quotes {
    color: $highlight;
  }
}

.gallery-item {
  .overlay {
    background-color: $hover;
  }
}

.gallery-item:hover {
  .overlay {
    a {
      color: $text;
    }
  }
}

.modal-content {
  background-color: $backdrop;
}

.carousel-indicators {
  li {
    background-color: $carousel-indicator;
  }

  .active {
    background-color: $carousel-indicator-active;
  }
}