.about-us {
  .header {
    margin-top: 25px;
    margin-bottom: 15px;
  }

  .subheader {
    margin-bottom: -5px;
  }

  .about-us-image {
    max-width: 100%;
    margin-bottom: 20px;
  }

  @media (min-width: $screen-md) {
    .header {
      margin-top: 35px;
    }
  }
}