
.header {
  margin-top: 25px;
  margin-bottom: 15px;
}

@media (min-width: $screen-md) {
  .header {
    margin-top: 35px;
  }
}

.header-logo {
  margin: 10px auto -20px;

  // @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
  //   margin-bottom: -10px;
  // }
}

.w-100 {
  width: 100%;
}

.hidden {
  display: none;
}


.flash {
  float: left;

  p {
    margin: 0;
    padding: 0;
    border: none;
  }
}

@media (min-width: $screen-md) {
  .left-col {
    margin-top: 13px;
  }
}

.sign-in-form {
  margin-top: 30px;

  label {
    margin-right: 10px;
  }

  .form-field * {
    width: 100%;
    margin-bottom: 20px;
  }
}
