
.header {
  margin-top: 25px;
  margin-bottom: 5px;
}

@media (min-width: $screen-md) {
  .header {
    margin-top: 1rem;
  }
}

.header-logo {
  margin: 10px auto -20px;

  // @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
  //   margin-bottom: -10px;
  // }
}

.subheader {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

.section-border-top {
  border-top: 2px groove;
  margin-top: 1rem;
}

.w-100 {
  width: 100%;
}

.hidden {
  display: none;
}


.flash {
  float: left;

  p {
    margin: 0;
    padding: 0;
    border: none;
  }
}

@media (min-width: $screen-lg) {
  .left-col {
    margin-top: 13px;
  }
}

.sign-in-form {
  margin-top: 30px;

  label {
    margin-right: 10px;
  }

  .form-field * {
    width: 100%;
    margin-bottom: 20px;
  }
}

.non-homepage-section {
  .left-col {
    @media (min-width: 992px) {
      margin-top: 2rem;
    }
  }
}
