.btn-contact-form {
  margin: 0 auto 20px;
  width: 90%;
}

.contact {
  // width: 100%;
  margin: 0 1rem 0.5rem;

  form {
    fieldset {
      margin-bottom: 0.5rem;

      .form-input {
        width: 100%;

      }
    }
  }
}