.btn-contact-form {
  margin: 2rem auto 20px;
  width: 100%;
}

#contact-form {
  label {
    width: 100%;
    margin-top: 15px;
  }

  abbr {
    text-decoration: none;
    font-weight: bold;
  }

  input.required, textarea.required {
    width: 100%;
  }

  textarea.required {
    height: 160px;
  }
}

.social-contact {
  font-size: 2rem;

  .social-icon {
    margin-right: 0.5rem;
  }
}