.btn-contact-form {
  margin: 2rem auto 20px;
  width: 100%;
}

#contact-form {
  label {
    width: 100%;
    margin-top: 15px;
  }

  abbr {
    text-decoration: none;
    font-weight: bold;
  }

  input.required, textarea.required {
    width: 100%;
  }

  textarea.required {
    height: 160px;
  }
}

.social-contact {
  position: absolute;
  bottom: 15px;
  font-size: 1.8rem;
  left: -90px;

  @media (min-width: $screen-md) {
    left: -110px;
  }

  @media (min-width: $screen-lg) {
    left: -150px;
  }

  @media (min-width: $screen-xl) {
    left: -160px;
  }

  .social-icon {
    margin-right: 0.5rem;
  }
}