footer {
  // position: absolute;
  // bottom: 0;
  width: 100%;

  .footer-row {
    background-color: black;
    color: aliceblue;
    padding: 0.5rem 0;

    .social-links {
      font-size: 1rem;

      .social-icon {
        padding: 0 0.5rem 0 0;
        text-decoration: none;
        font-size: 1.5rem;
      }

      #telephone {
        float: right;
      }
    }

    #design-by {
      float: right;
    }
  }

  @media (min-width: $screen-lg) {
    .footer-container {
      bottom: 0;
      max-width: 100vw;
      position: fixed;
      width: 100%;
    }
  }
}
