header {
  .menu-icons {
    font-size: 2rem;
    float: left;
    margin: 10px 0 10px 10px;
    cursor: pointer;
    transition: 0.4s;

    .menu-icon {
      position: absolute;
    }

    .exit-menu-icon {
      position: absolute;
      z-index: 6;
      opacity: 0;
    }

    .navbar-icon {
      // extra padding for mobile to make menu icons easier to tap
      top: -47px;
      left: 6px;
      padding: 20px;
    }

    .transparent {
      opacity: 0;
    }

    .opaque {
      opacity: 1;
    }
  }

  @media (min-width: $screen-sm) {
    .menu-icons {
      display: none;
    }
  }
}


.header-logo {
  a {
    text-decoration: none;

    h1 {
      margin: 20px 0 10px;
      text-align: center;

      @media (min-width: $screen-md) {
        margin: 20px 0 10px;
      }
    }
  }

  a:hover {
    color: maroon;
  }
}

.header-subheader-text {
  font-size: 1.3rem;
  text-align: center;
  margin: 25px 0 0;

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}
