header {
  .menu-icons {
    font-size: 2rem;
    float: left;
    margin: 10px 0 10px 10px;
    cursor: pointer;
    transition: 0.4s;
    
    .menu-icon {
      position: absolute;
    }

    .exit-menu-icon {
      position: absolute;
      z-index: 6;
      opacity: 0;
    }

    .transparent {
      opacity: 0;
    }

    .opaque {
      opacity: 1;
    }
  }

  .header-logo {
    a {
      text-decoration: none;

      h1 {
        margin: 10px 0 10px;
        text-align: center;
      }
    }

    a:hover {
      color: maroon;
    }
  }
}