// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  .menu-icons {
    font-size: 2rem;
    float: left;
    margin: 10px 0 10px 10px;
    cursor: pointer;
    transition: 0.4s;
    
    .menu-icon {
      position: absolute;
    }

    .exit-menu-icon {
      position: absolute;
      z-index: 6;
      opacity: 0;
    }

    .transparent {
      opacity: 0;
    }

    .opaque {
      opacity: 1;
    }
  }

  .header-logo {
    a {
      text-decoration: none;

      h1 {
        margin: 10px 0 10px;
        text-align: center;
      }
    }

    a:hover {
      color: maroon;
    }
  }
}

.sidebar {
  position: absolute;
  left: -105%;
  z-index: 9999;
  transition: .4s;
  width: 100%;

  ul {
    list-style: none;
    padding: 0;
    text-align: center;

    a {
      text-decoration: none;
      padding: 10px 0;
      font-size: 1.2rem;
      
      li {

      }

    }

    a:hover {
      background-color: coral;
      color: black;
    }
  }
}

// helper classes

.active {
  left: 0;
}