.sidebar {
  left: -105%;
  position: absolute;
  transition: .4s;
  width: 100%;
  z-index: 50;

  ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  a {
    text-decoration: none;
    padding: 10px 0;
    font-size: 1.2rem;
    transition: 0.35s;
  }

  @media (min-width: $screen-md) {
    left: unset;
    position: relative;
    transition: 0s;
    z-index: 0;

    a {
      font-size: 1rem;
    }
  }

  @media (min-width: $screen-md) {
    a {
      font-size: 1.2rem;
    }
  }
}

.nav-line {
  border-bottom: 2px solid;
  width: 20px;
  margin: 0 auto;
}

// helper classes

.nav-active {
  left: 0;
}