.testimonial-carousel {

}

.testimonial-section {
  .testimonial-grid-image {
    width: 100%;
    margin-top: 24px;
  }
}

.testimonial {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";

 .quotes {
    quotes: "\201C""\201D""\2018""\2019";
    content: open-quote;
    font-size: 5em;
    line-height: 0;
    margin-right: 0.25em;
    vertical-align: -0.6em;
  }

  .testimonial-wrapper {
    margin-left: 35px;
  }

  p {
    display: block;
  }
}
